$color-primary: #2e358e;
$color-accent: #faae1a;
$color-warning:#bd2227;
.add_formWrapper{

    & .prduct_formControl{
        @media (max-width:1200px) and (min-width: 575px) {
            margin-right: 10px;
            max-width: 300px;
        }
    }
}
.advance_btn{
    background-color: rgba($color-primary, 1);
    color: #fff;
    border: 1px solid $color-primary;
}