$color-primary: #2e358e;
$color-accent: #faae1a;
$color-warning:#bd2227;
.add_formWrapper{

    & .prduct_formControl{
        @media (max-width:1200px) and (min-width: 575px) {
            margin-right: 10px;
            max-width: 300px;
        }
    }
}