<div class="search_outerWrapper text-right mb-20">
    <form>
        <mat-form-field  appearance="outline" class="ew-250 pb-0">
            <mat-label>Search</mat-label>
            <input [formControl]="filterForm.get('searchString')" type="text" matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
</div>
<div class="item_table_outer mt-10">
    <div class="table-responsive">
        <table class="table account_table" matSort>
            <thead>
                <tr>
                    <th class="ew-50" *ngIf=" this._serv.getPermission('products', 'full')"></th>
                    <th mat-sort-header="productNumber" class="ew-50">No.</th>
                    <th mat-sort-header="productName" class="ew-250">Product Name</th>
                    <th mat-sort-header="description">Description</th>
                    <th class="ew-250">Categories</th>
                    <th mat-sort-header="branch" class="ew-250">Branch</th>
                    <th class="ew-100">Active?</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of dataSource?.data; let i =index">
                    <tr *ngIf=" this._serv.getPermission('products', 'full')">
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="moreOption">
                                <img src="assets/images/icons/MORE.svg" alt="" class="icon_img">
                            </button>
                            <mat-menu #moreOption="matMenu">
                                <button mat-menu-item type="button" [routerLink]="['/admin/products/update/'+item.id]"><img src="assets/images/icons/EDIT.svg" alt="" class="icon_img"> Edit</button>
                                <button mat-menu-item type="button" (click)="deleteProduct(item)"><img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img"> Delete</button>
                            </mat-menu>
                        </td>
                        <td>
                            {{item.productNumber }}
                        </td>
                        <td>{{item.productName}}</td>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                            <span class="cat_chip" *ngFor="let cat of item.categories;">{{ cat.categoryName }}</span>
                        </td>
                        <td>
                            {{item.branch?.branchTitle }}
                        </td>
                        <td>
                            <mat-slide-toggle readonly [(ngModel)]="item.isActive"></mat-slide-toggle>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <td colspan="6" *ngIf="dataSource?.total == 0">No data to display</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator  [pageSizeOptions]="[10]" [length]="dataSource?.total" [pageSize]="10"></mat-paginator>
    </div>
</div>
