.cat_chip {
  padding: 3px 8px;
  border-radius: 10px;
  background-color: #2e8b8e;
  color: #fff;
  font-size: 14px;
  margin: 2px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
