<div class="row"  [hidden]="userData?.roles != 'Super Admin'">
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <mat-select required [formControl]="selectedCompany">
                <mat-option *ngFor="let item of companyList" [value]="item.id">{{ item.companyName }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="item_table_outer mt-10">
    <div class="table-responsive">
        <table class="table account_table">
            <thead>
                <tr>
                    <th class="ew-200">Inventory Name</th>
                    <th class="ew-200">Price per unit</th>
                    <th class="ew-150">Stock</th>
                    <th class="ew-200">Unit</th>
                    <th class="">Description</th>
                    <th class="ew-150">Active?</th>
                    <!-- <th class="ew-150">Branch</th> -->
                    <th class="ew-120">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of inventoryList;let i =index">
                    <tr class="cursor-pointer no-outline" [routerLink]="['/admin/account-management/masters/inventory/view/'+item.id]">
                        <td>{{ item.itemName }}</td>
                        <td>{{ item.pricePerUnit }}</td>
                        <td>{{item.availableStock}}</td>
                        <td>
                            <ng-container *ngIf="item.unitId else noData">{{ item.unit.unitLabel }}</ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="item.description else noData">{{ item.description }}</ng-container>
                        </td>
                        <td>
                            <span class="status_chip active" *ngIf="item.isActive">Active</span>
                            <span class="status_chip inactive" *ngIf="!item.isActive">Inactive</span>
                        </td>
                        <td>
                            <!-- <button *ngIf="!item.id || editInventoryIndex == i" mat-icon-button class="small_icon_btn mr-2" type="button" (click)="saveInventory(item)"
                                color="primary">
                                <img src="assets/images/icons/SAVE.svg" alt="" class="icon_img">
                            </button> -->
                            <button mat-icon-button class="small_icon_btn mr-2" color="primary" type="button" [routerLink]="['/admin/account-management/masters/inventory/update/'+item.id]">
                                <!-- <mat-icon>edit</mat-icon> -->
                                <img src="assets/images/icons/EDIT.svg" alt="" class="icon_img">
                            </button>
                            <button mat-icon-button class="small_icon_btn" color="warn" type="button" (click)="deleteInventory(i)">
                                <!-- <img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img"> -->
                                <img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img">
                            </button>
                            <!-- <button *ngIf="!item.id || (item.id && editInventoryIndex == i)" mat-icon-button class="small_icon_btn" color="warn" (click)="onCancelEdit()">
                                <img src="assets/images/icons/CLOSE.svg" alt="" class="icon_img">
                            </button> -->
                        </td>
                    </tr>
                </ng-container>
                    <tr *ngIf="inventoryList.length <= 0">
                        <td colspan="7">
                            No data to display
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noData>---</ng-template>