<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="logo_headerBox">
            <img src="assets/images/logo-full.svg" class="logoImg expand" alt="">
        </span> 
        <div class="header_navigation">
            <ul>
                <li class="mr-20">
                    <button mat-button [matMenuTriggerFor]="menu">{{ _kitchen.kitchen_details?.kitchenTitle }}</button>
                    <mat-menu #menu="matMenu" >
                      <button mat-menu-item type="button" *ngFor="let item of this.branchDetails?.kitchens;" (click)="onChangeKitchen(item)">{{ item.kitchenTitle }}</button>
                    </mat-menu>
                </li>
                <li>
                    <div class="profile_box" [matMenuTriggerFor]="profileMenu" [ngStyle]="{'background-image': imgSrc}"></div>
                    <mat-menu #profileMenu="matMenu" class="notification_menu profile_menu">
                        <h4>{{ currentUser?.user.firstName }} {{ currentUser?.user.lastName }}</h4>
                        <ul class="list-unstyled mb-0">
                            <button mat-menu-item  (click)="signOut()">Sign Out</button>
                        </ul>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>

</mat-toolbar>