<div class="accont_header_wrapping pa-25">
    <h2 class="text-uppercase font-weight-500 mb-0 d-flex align-items-center justify-content-between">
        Branch
        <!-- <div>
            <button mat-raised-button color="primary" routerLink="/admin/settings/company/update">Add New</button>
        </div> -->
    </h2>
</div>
<div class="account_body_wrapper pl-25 pr-25">
    <div class="body_inner_card">
        <div class="tab_header">
            <div class="tab_btn" routerLink="/admin/settings/branches/list" routerLinkActive="active">
                <a href="javascript:;">Branch Lists</a>
            </div>
            <div class="tab_btn" [routerLink]="[branchTable? '' : '/admin/settings/branches/update']" routerLinkActive="active pointer-none">
                <a href="javascript:;">{{branchTable? 'Branch Tables' : editId? 'Branch Update' : 'Add Branch'}} </a>
            </div>
        </div>
        <div class="tab_body pa-20">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
