@import '../../../../../variables.scss';
// .order_outer{
//     & .order_box{
//         width:300px;
//         margin-top: 30px;
//         border-radius: 5px;
//         // box-shadow: 0px 0px 12px rgba(#000, 0.2);
//         display: flex;
//         height: 150px;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         border: 1px solid $color-primary;
//         -webkit-transform: scale(1);
//         -moz-transform: scale(1);
//         -ms-transform: scale(1);
//         transform: scale(1);
//         background-image: linear-gradient(45deg,rgba($color-primary, 0.2), rgba($color-warning, 0.2));
//         &:hover{
//             -webkit-transform: scale(1.05);
//             -moz-transform: scale(1.05);
//             -ms-transform: scale(1.05);
//             transform: scale(1.05);
//         }
//         & h3{
//             font-size: 2rem;
//             margin: 0px;
//             font-weight: 500;
//             color: $color-primary;
//             text-transform: uppercase;
//         }
//     }
// }
.table_form_wrapper {
    & .order_typeRow {
        & .type_radio {
            display: inline-block;
            position: relative;
            overflow: hidden;
            // margin-right: 15px;
            margin-bottom: 15px;
            & label {
                width: 200px;
                max-width: 100%;
                padding: 10px;
                display: block;
                // border-radius: 5px;
                background-color: #5661a3;
                border: 1px solid #5661a3;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 500;
                text-align: center;
                cursor: pointer;
                text-transform: uppercase;
            }
            & input {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                &:checked+label {
                    color: #fff;
                    border-color: #2c3691;
                    background-color: #2c3691;
                }
            }
        }
    }
}

.table_outerWrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table_selectWrapper {
    display: flex;
    align-items: center;
    margin: 0px -10px;
    flex-wrap: wrap;
    & .table_col {
        flex: 0 0 16.666%;
        max-width: 16.666%;
        padding: 0px 10px;
        height: 90px;
        min-width: 150px;
        & .table_circle {
            display: block;
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 600;
            color: #fff;
            background-color: $color-success;
            width: calc(100% - 36px);
            height: calc(100% - 36px);
            left: 18px;
            top: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
        & .table_innerBox {
            display: flex;
            & .table_seat_checkBox {
                position: relative;
                overflow: hidden;
                width: 100%;
                & label {
                    width: 15px;
                    height: 100%;
                    background-color: $color-success;
                    cursor: pointer;
                    margin-bottom: 0px;
                    &.pointer-none {
                        background-color: rgba($color-warning, 0.6) !important;
                    }
                }
                & input {
                    visibility: hidden;
                    position: absolute;
                    opacity: 0;
                    &:checked+label {
                        background-color: $color-warning;
                    }
                }
                &.vertical {
                    margin: 20px 0px;
                }
                &.horizontal {
                    & label {
                        height: 15px;
                        width: 100%;
                    }
                }
            }
            & .radio_outer {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .table_seat_checkBox {
                    flex: 0 0 15px;
                }
            }
        }
        &.reserved {
            & .table_circle {
                background-color: $color-accent;
            }
            & .table_innerBox {
                & .table_seat_checkBox {
                    & label {
                        background-color: $color-accent;
                    }
                }
            }
        }
    }
}

.table_outerWrapper {
    & table {
        min-width: 500px;
    }
}

.order_detailWrapper {
    & .total_wrapper {
        & .total_table {
            // margin-right: 30px;
            // margin-left: 30px;
            border: 1px solid #ddd;
            & tr {
                &.grandTotal {
                    background-color: #e9eaf3;
                }
                & td {
                    font-weight: 500;
                    border: none;
                    vertical-align: middle;
                    font-size: 1.4rem;
                    &.price_td {
                        text-align: right;
                        font-size: 1.6rem;
                        padding: 0;
                    }
                }
                &:first-child {
                    & td {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

::ng-deep {
    .searchBox {
        & .mat-form-field-wrapper {
            padding-bottom: 0px;
            margin: 0px;
        }
    }
}

.ratting_wrapper {
    & .ratting_radioOuter {
        & .radio_box {
            display: inline-block;
            position: relative;
            margin-right: 5px;
            & label {
                display: inline-block;
                width: 100px;
                text-align: center;
                & img {
                    max-width: 100%;
                    -webkit-transition: .3s ease-in-out;
                    -moz-transition: .3s ease-in-out;
                    -ms-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    filter: grayscale(100%);
                }
            }
            & input {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                &:checked+label {
                    & img {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

.ratting_wrapper {
    & h4 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    & p {
        font-size: 20px;
    }
}


.order_layout {
    height: calc(100vh - 160px);
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba($color-primary, 0.1);
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-auto-rows: minmax(min-content, max-content) auto;

    
    grid-template-areas: 
            "customer billing"
            "order billing";

    @media (max-width: 1200px) {
        height: auto;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        grid-template-areas: 
                "customer"
                "order"
                "billing";
    }
}

.customer_section {
    padding: 20px 20px 0px;
    grid-area: customer;
}

.billing_details {
    grid-area: billing;
    background-color: #fff;
    border-left: 5px solid #fafafa;
    position: relative;

    & .delivery_box {
        padding: 20px 20px 0px;
        border-bottom: 5px solid #fafafa;
    }

    & .billing_wrapper {
        padding: 20px 20px 45px;
        position: relative;
        & .billing_strip {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 5px;
    
            & .title {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0;
            }
    
            & .value_section {
                width: 100px;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0;
                text-align: right;
            }
        }
    }


    & .action_wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
    }

    
    @media (max-width: 1200px) {
        border-left: none;
    }

}

.order_items {
    grid-area: order;
    padding: 10px 20px;
    overflow: auto;
}


// order item design
.order_item_card {
    display: grid;
    grid-template-columns: 100px 1fr 120px;
    grid-auto-rows: minmax(min-content, max-content);
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    & .order_item_card_strip {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 5px;
        background-color: rgba(#fff, 0.8);
        font-size: 1rem;
        color: $color-success;
    }

    & .img_item {
        width: 100px;
        height: 100px;
        padding: 5px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .order-details {
        padding: 15px; 

        & p.product_name {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            color: rgba(#000, 0.8);
            margin-bottom: 5px;
        }
        & p.product_price {
            margin: 0;
            display: flex;
            font-size: 14px;
        }
    }

    & .action_menu {
        padding: 15px 15px 15px 0px;
        
    }



}
// order item design end

