@import '../../../../../variables.scss';
// .order_outer{
//     & .order_box{
//         width:300px;
//         margin-top: 30px;
//         border-radius: 5px;
//         // box-shadow: 0px 0px 12px rgba(#000, 0.2);
//         display: flex;
//         height: 150px;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         border: 1px solid $color-primary;
//         -webkit-transform: scale(1);
//         -moz-transform: scale(1);
//         -ms-transform: scale(1);
//         transform: scale(1);
//         background-image: linear-gradient(45deg,rgba($color-primary, 0.2), rgba($color-warning, 0.2));
//         &:hover{
//             -webkit-transform: scale(1.05);
//             -moz-transform: scale(1.05);
//             -ms-transform: scale(1.05);
//             transform: scale(1.05);
//         }
//         & h3{
//             font-size: 2rem;
//             margin: 0px;
//             font-weight: 500;
//             color: $color-primary;
//             text-transform: uppercase;
//         }
//     }
// }
.table_form_wrapper {
    & .order_typeRow {
        & .type_radio {
            display: inline-block;
            position: relative;
            overflow: hidden;
            // margin-right: 15px;
            margin-bottom: 15px;
            & label {
                width: 200px;
                max-width: 100%;
                padding: 10px;
                display: block;
                // border-radius: 5px;
                background-color: #5661a3;
                border: 1px solid #5661a3;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 500;
                text-align: center;
                cursor: pointer;
                text-transform: uppercase;
            }
            & input {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                &:checked+label {
                    color: #fff;
                    border-color: #2c3691;
                    background-color: #2c3691;
                }
            }
        }
    }
}

.table_outerWrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table_selectWrapper {
    display: flex;
    align-items: center;
    margin: 0px -10px;
    flex-wrap: wrap;
    & .table_col {
        flex: 0 0 16.666%;
        max-width: 16.666%;
        padding: 0px 10px;
        height: 90px;
        min-width: 150px;
        & .table_circle {
            display: block;
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 600;
            color: #fff;
            background-color: $color-success;
            width: calc(100% - 36px);
            height: calc(100% - 36px);
            left: 18px;
            top: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
        & .table_innerBox {
            display: flex;
            & .table_seat_checkBox {
                position: relative;
                overflow: hidden;
                width: 100%;
                & label {
                    width: 15px;
                    height: 100%;
                    background-color: $color-success;
                    cursor: pointer;
                    margin-bottom: 0px;
                    &.pointer-none {
                        background-color: rgba($color-warning, 0.6) !important;
                    }
                }
                & input {
                    visibility: hidden;
                    position: absolute;
                    opacity: 0;
                    &:checked+label {
                        background-color: $color-warning;
                    }
                }
                &.vertical {
                    margin: 20px 0px;
                }
                &.horizontal {
                    & label {
                        height: 15px;
                        width: 100%;
                    }
                }
            }
            & .radio_outer {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .table_seat_checkBox {
                    flex: 0 0 15px;
                }
            }
        }
        &.reserved {
            & .table_circle {
                background-color: $color-accent;
            }
            & .table_innerBox {
                & .table_seat_checkBox {
                    & label {
                        background-color: $color-accent;
                    }
                }
            }
        }
    }
}

.table_outerWrapper {
    & table {
        min-width: 500px;
    }
}

.order_detailWrapper {
    & .total_wrapper {
        & .total_table {
            // margin-right: 30px;
            // margin-left: 30px;
            border: 1px solid #ddd;
            & tr {
                &.grandTotal {
                    background-color: #e9eaf3;
                }
                & td {
                    font-weight: 500;
                    border: none;
                    vertical-align: middle;
                    font-size: 1.4rem;
                    &.price_td {
                        text-align: right;
                        font-size: 1.6rem;
                        padding: 0;
                    }
                }
                &:first-child {
                    & td {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

::ng-deep {
    .searchBox {
        & .mat-form-field-wrapper {
            padding-bottom: 0px;
            margin: 0px;
        }
    }
}

.ratting_wrapper {
    & .ratting_radioOuter {
        & .radio_box {
            display: inline-block;
            position: relative;
            margin-right: 5px;
            & label {
                display: inline-block;
                width: 100px;
                text-align: center;
                & img {
                    max-width: 100%;
                    -webkit-transition: .3s ease-in-out;
                    -moz-transition: .3s ease-in-out;
                    -ms-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    filter: grayscale(100%);
                }
            }
            & input {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                &:checked+label {
                    & img {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

.ratting_wrapper {
    & h4 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    & p {
        font-size: 20px;
    }
}