<div class="mb-20 header_bar d-flex align-lign-items-center justify-content-between">
    <h1 class="mb-0 font-weight-600">Serve Items</h1>
    <button mat-icon-button (click)="closeItem()">
        <img src="assets/images/icons/CLOSE.svg" alt="" class="icon_img">
    </button>
</div>

<div class="modal_body scroll_bar">
    <ng-container *ngFor="let item of items['controls'];let i=index;">
        <div class="item_card mb-10">
            <div class="item_wraper">
                <div class="img_item">
                    <img *ngIf="item.get('featuredImage').value" [src]=" url + item.get('featuredImage').value" alt="">
                    <img *ngIf="!item.get('featuredImage').value" src="/assets/images/food.jpg" alt="">
                </div>
                <span>{{item.get('productName').value}}</span>
            </div>
            <div>
                <div class="input-group mb-0 number_input">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" (click)="handleNumberControl(item, 'prev')">-</button>
                    </div>
                    <input type="text" class="form-control" [formControl]="item.get('servedItems')" digitOnly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="handleNumberControl(item, 'next')">+</button>
                    </div>
                </div>
                <p class="text-warning mt-2 mb-0">Pending: <b>{{ getpendingItems(item) }}</b></p>
            </div>
        </div>
    </ng-container>
</div>
<div class="text-center">
    <button mat-flat-button color="primary" class="mr-2 mt-20 ew-150" (click)="closeItem()">Done</button>
</div>