<!-- <div class="ticket only-print" id="print-section">
    <p class="centered">
        <b class="title">Black bamboo restaurant</b>
        <br>Mukka, surathkal</p>
    <table class="table">
        <thead>
            <tr>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ orderData.customerName }}</td>
            </tr>
            <tr>
                <td>{{ orderData.mobileNumber }}</td>
            </tr>
            <tr>
                <td>{{ orderData.customerAddress }}</td>
            </tr>
            <tr>
                <td>{{ orderData.relatedInfo }}</td>
            </tr>
        </tbody>
    </table>
    <p class="centered">Thank You :(</p>
</div> -->

<div class="ticket only-print" id="print-section">
    <p class="centered">
        <b class="title">{{savedOrderData?.branch.branchTitle}}</b>
        <br>{{savedOrderData?.branch.branchAddress}}</p>
    <div class="d-flex justify-content-between">
        <p class="mb-0">By : {{ savedOrderData?.bearer.firstName }} {{ savedOrderData?.bearer.lastName }}</p>
        <p class="mb-0">{{ savedOrderData?.created_at | datex: 'DD-MM-YYYY hh:mm A' }}</p>
    </div>
    <div class="d-flex justify-content-between">
        <p class="mb-0">#{{ savedOrderData?.id }}</p>
    </div>
    <div *ngIf="savedOrderData?.customer">
        <br>
        <div class="customerAddress">
            <p style="line-height: 1;">&nbsp;</p>
            <p>To: {{savedOrderData?.customer.customerName}}</p>
            <p>Number : {{savedOrderData?.customer.mobileNumber}}</p>
            <p>Address : {{savedOrderData?.customerAddress}}</p>
            <p>Info : {{savedOrderData?.relatedInfo}}</p>
            <p style="line-height: 1;">&nbsp;</p>
        </div>
        <br>
    </div>
    <div>
        <ng-container *ngFor="let item of orderData?.tables; let i=index;">
            {{ item.tableId }} 
            <ng-container *ngIf="i != (orderData?.tables.length - 1)">
                , 
            </ng-container>
        </ng-container>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="description">Desc.</th>
                <th class="price"></th>
                <th class="quantity">Q.</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of orderData?.items;let i=index;">
                <tr>
                    <td class="description">{{ item.productName }} {{item.advancedPriceTitle ? '('+ item.advancedPriceTitle +')' : ''}}</td>
                    <td class="price">{{item.isParcel ? 'PARCEL':''}}</td>
                    <td class="quantity">{{ item.quantity }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="hidden-print text-center ew-300">
    <h3>Do you want to print again?</h3>
    
    <button mat-flat-button (click)="cancelPrint()" color="warn" class="mr-20">Cancel</button>
    <button mat-flat-button (click)="printPage()" color="primary">Print</button>
</div>