<div class="top_nav">
    <div class="top_nav_inner">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="javascript:;" routerLink="/admin/account/dashboard" class="dashbordBox one d-flex align-items-center justify-content-center">
                    <h3>Dashboard</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="javascript:;" routerLink="/admin/account/transaction"  class="dashbordBox two d-flex align-items-center justify-content-center">
                    <h3>Transactions</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="javascript:;" routerLink="/admin/account/reports" class="dashbordBox three d-flex align-items-center justify-content-center">
                    <h3>Reports</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="javascript:;" routerLink="/admin/account/master" class="dashbordBox four d-flex align-items-center justify-content-center">
                    <h3>Masters</h3>
                </a>
            </div>
        </div>
    </div>
</div>