<form [formGroup]="form" (submit)="savePurchaseData($event, formDirective)"  #formDirective="ngForm">
    <div class="page_header d-flex mb-4">
        <h2 class="header_title">Purchase</h2>
        <div class="ml-auto">
            <button mat-raised-button color="primary" type="submit" class="sm_btn mr-2">Save</button>
            <button mat-raised-button color="accent" type="button" class="sm_btn mr-2">Print</button>
            <button mat-raised-button color="warn" type="button" class="sm_btn" (click)="resetForm(formDirective)">Cancel</button>
        </div>
    </div>
    
    <div class="page_body">
        <div class="transaction_form">
            <div class="row justify-content-between mb-20">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 sm_input">
                                <mat-label>Reference number</mat-label>
                                <input matInput formControlName="transactionRefNumber">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-15">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 sm_input">
                                <mat-label>From</mat-label>
                                <input matInput required formControlName="accountName" [matAutocomplete]="fromAccount">
                                <mat-autocomplete #fromAccount="matAutocomplete" autoActiveFirstOption [displayWith]="accountNameDisplay">
                                    <mat-option *ngFor="let item of filteredFromAccountList | async" [value]="item">
                                      {{ item.ledgerName }}
                                    </mat-option>
                                </mat-autocomplete>
                                <!-- <mat-hint>Current Balance: 15000</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Date</mat-label>
                        <input matInput  [matDatepicker]="transactionDate">
                        <mat-datepicker-toggle matSuffix [for]="transactionDate"></mat-datepicker-toggle>
                        <mat-datepicker #transactionDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="ew-50">Action</th>
                                    <th>Name Of Item</th>
                                    <th class="ew-80 text-center">Quantity</th>
                                    <th class="ew-80 text-center">Price</th>
                                    <th class="ew-100 text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container formArrayName="items" *ngFor="let item of items['controls'];let i=index;">
                                    <tr [formGroupName]="i" *ngIf="item.get('deletedFlag').value != 'deleted'">
                                        <td class="align-middle">
                                            <button type="button" (click)="deleteInventoryItem(i)" color="warn" class="sm_btn" mat-icon-button  *ngIf="i != _serv.formArrayCount(items) -1">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                            <button type="button" color="primary" tabindex="-1" class="sm_btn" mat-icon-button  *ngIf="i == _serv.formArrayCount(items) -1">
                                                <mat-icon>fiber_new</mat-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <mat-form-field class="w-100 inline-input">
                                                <input matInput formControlName="itemName" [matAutocomplete]="itemNameAuto">
                                                <mat-autocomplete #itemNameAuto="matAutocomplete" autoActiveFirstOption [displayWith]="itemNameDisplay">
                                                    <mat-option *ngFor="let option of filteredInventoryList | async" [value]="option">
                                                      {{ option.itemName }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="ew-80 inline-input">
                                                <input matInput formControlName="quantity" matInputCommified format="float" talign="left">
                                                <span *ngIf="item.get('unit').value" matSuffix>{{ item.get('unit').value }}</span>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="ew-80 inline-input">
                                                <input matInput formControlName="amount" matInputCommified format="currency">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="ew-100 inline-input">
                                                <input matInput readonly tabindex="-1" formControlName="total" matInputCommified format="currency">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </ng-container>
    
                                <!-- Particulars -->
                                <ng-container *ngIf="_serv.formArrayCount(items) > 1">
                                    <tr>
                                        <th colspan="5">Particulars</th>
                                    </tr>
                                    
                                    <ng-container formArrayName="accounts" *ngFor="let account of accounts['controls'];let i=index;">
                                        <tr [formGroupName]="i" *ngIf="account.get('deletedFlag').value != 'deleted'">
                                            <td class="align-middle">
                                                <button type="button" (click)="deleteAccount(i)" color="warn" class="sm_btn" mat-icon-button  *ngIf="i != _serv.formArrayCount(accounts) -1">
                                                    <mat-icon>clear</mat-icon>
                                                </button>
                                                <button type="button" color="primary" tabindex="-1" class="sm_btn" mat-icon-button  *ngIf="i == _serv.formArrayCount(accounts) -1">
                                                    <mat-icon>fiber_new</mat-icon>
                                                </button>
                                            </td>
                                            <th colspan="2">
                                                <mat-form-field class="w-100 inline-input">
                                                    <input matInput formControlName="accountName" [matAutocomplete]="accountNameAuto">
                                                    <mat-autocomplete #accountNameAuto="matAutocomplete" autoActiveFirstOption [displayWith]="accountNameDisplay">
                                                        <mat-option *ngFor="let option of filteredParticularsAccountList | async" [value]="option">
                                                          {{ option.ledgerName }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </th>
                                            <th>
                                                <mat-form-field class="ew-80 inline-input">
                                                    <input matInput formControlName="percentage">
                                                    <span matSuffix *ngIf="account.get('percentage').value">%</span>
                                                </mat-form-field>
                                            </th>
                                            <th>
                                                <mat-form-field class="ew-100 inline-input">
                                                    <input matInput formControlName="amount" matInputCommified format="currency" [readonly]="!account.get('accountName').value || account.get('percentage').value">
                                                </mat-form-field>
                                            </th>
                                        </tr>
                                    </ng-container>
                                </ng-container>
    
                                <!-- Total -->
                                <tr>
                                    <th class="text-right align-bottom" colspan="4">
                                        Total
                                    </th>
                                    <!-- <th>
                                        <mat-form-field class="ew-80 inline-input">
                                            <input matInput readonly tabindex="-1">
                                        </mat-form-field>
                                    </th>
                                    <th></th> -->
                                    <th>
                                        <mat-form-field class="ew-100 inline-input">
                                            <input matInput readonly tabindex="-1" formControlName="grandTotal" matInputCommified format="currency">
                                        </mat-form-field>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Comments</mat-label>
                        <textarea matInput formControlName="comment" placeholder="Add more info on purchase"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</form>
