
            <div class="item_table_outer mt-10">
                <div class="table-responsive">
                    <table class="table account_table">
                        <thead>
                            <tr>
                                <th class="ew-100">Action</th>
                                <th>Name</th>
                                <th class="">Details</th>
                                <th class="ew-200">Allowed Branches</th>
                                <th class="ew-150">Accounting?</th>
                                <th class="ew-150">Restaurant?</th>
                                <th class="ew-150">Is Active?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of dataSource?.data; let i =index">
                                <tr>
                                    <td>
                                        <button mat-icon-button [matMenuTriggerFor]="moreOption">
                                            <img src="assets/images/icons/MORE.svg" alt="" class="icon_img">
                                        </button>
                                        <mat-menu #moreOption="matMenu">
                                            <button mat-menu-item type="button" [routerLink]="['/admin/settings/company/update/'+item.id]"><img src="assets/images/icons/EDIT.svg" alt="" class="icon_img"> Edit</button>
                                            <button mat-menu-item type="button" (click)="deleteCompany(item)"><img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img">Delete</button>
                                        </mat-menu>
                                    </td>
                                    <td>
                                        {{item.companyName}}
                                    </td>
                                    <td>{{item.companyDetails}}</td>
                                    <td>
                                        {{item.numberOfBranchesAllowed}}
                                    </td>
                                    <td>
                                        <span [className]="item.enableAccounting ? 'status_chip active' : 'status_chip inactive'">{{item.enableAccounting?'Yes':'No'}}</span>
                                    </td>
                                    <td>
                                        <span [className]="item.enableRestaurantFunctions ? 'status_chip active' : 'status_chip inactive'">{{item.enableRestaurantFunctions?'Yes':'No'}}</span>
                                    </td>
                                    <td>
                                        <span [className]="item.isActive ? 'status_chip active' : 'status_chip inactive'">{{item.isActive?'Active':'Inactive'}}</span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>