.highlight{
    // background: #f3e4e0; __<<ngThemingMigrationEscapedComment0>>__
    td{
      &:first-child{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          left: 0px;
          top: 5px;
          bottom: 5px;
          border-radius: 0px 20px 20px 0px;
          width: 2px;
          background-color: #ff0000;
        }
        // border-left: 2px solid #ff0000;
      }
    }
  }