<div class="popup_formWrapper">
    <h3>Change Password</h3>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</div>
<div class="popup_Btnfooter text-center">
    <button mat-raised-button color="primary" class="ew-100">Save</button>
</div>