<div class="item_table_outer mt-10">
    <div class="table-responsive">
        <table class="table account_table" matSort>
            <thead>
                <tr>
                    <th class="ew-100">Action</th>
                    <th mat-sort-header="categoryName">Title</th>
                    <th mat-sort-header="description">Description</th>
                    <th mat-sort-header="branch" class="ew-200">Branch</th>
                    <th class="ew-150">Is Active?</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of dataSource?.data; let i =index">
                    <tr>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="moreOption">
                                <img src="assets/images/icons/MORE.svg" alt="" class="icon_img">
                            </button>
                            <mat-menu #moreOption="matMenu">
                                <button mat-menu-item type="button" [routerLink]="['/admin/settings/categories/update/'+item.id]"><img src="assets/images/icons/EDIT.svg" alt="" class="icon_img"> Edit</button>
                                <button mat-menu-item type="button" (click)="deleteCategory(item)"><img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img">Delete</button>
                            </mat-menu>
                        </td>
                        <td>
                            {{item.categoryName }}
                        </td>
                        <td>{{item.description}}</td>
                        <td>
                            {{item.branch?.branchTitle}}
                        </td>
                        
                        <td>
                            <mat-slide-toggle color="accent" (change)="changeStatus(item)" [(ngModel)]="item.isActive"></mat-slide-toggle>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" *ngIf="dataSource?.data.length <= 0"> No data to display.</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" [length]="dataSource?.total" [pageSize]="10"></mat-paginator>
    </div>
</div>