<div class="accont_header_wrapping pa-25">
    <div class="d-flex justify-content-between">
        <h2 class="text-uppercase font-weight-500 mb-10 d-flex align-items-center justify-content-between">
            Transaction History
        </h2>
        <div [hidden]="selectedMenu == 'all'">
            <button type="button" [routerLink]="['/admin/account-management/new-transaction/'+selectedMenu]" mat-raised-button color="primary">Add {{ selectedMenu | titlecase}} Entry</button>
        </div>
    </div>
</div>
<div class="account_body_wrapper">
    <div class="body_inner_card">
        <div class="tab_header">
            <div class="tab_btn" [class.active]="selectedMenu == 'all'" (click)="selectMenu('all')">
                <a href="javascript:;">All</a>
            </div>
            <div class="tab_btn" [class.active]="selectedMenu == 'sales'" (click)="selectMenu('sales')">
                <a href="javascript:;">Sales</a>
            </div>
            <div class="tab_btn" [class.active]="selectedMenu == 'purchase'" (click)="selectMenu('purchase')">
                <a href="javascript:;">Purchase</a>
            </div>
            <div class="tab_btn" [class.active]="selectedMenu == 'payment'" (click)="selectMenu('payment')">
                <a href="javascript:;">Payment</a>
            </div>
            <div class="tab_btn" [class.active]="selectedMenu == 'receipt'" (click)="selectMenu('receipt')">
                <a href="javascript:;">Receipt</a>
            </div>
        </div>
        <div class="tab_body pa-20">
          <form [formGroup]="filterForm" (submit)="getTransactions()">

            <div class="row">

            <div class="col-auto">
                <mat-form-field appearance="outline" class="w-100 pb-0">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="searchString">
                    <button matSuffix mat-icon-button type="submit">
                      <!-- <mat-icon>search</mat-icon> -->
                      <img matSuffix src="assets/images/icons/SEARCH.svg" alt="" class="icon_img">
                    </button>
                </mat-form-field>
            </div>
              <div class="col-auto">
                  <mat-form-field appearance="fill">
                      <mat-label>Account Type</mat-label>
                      <mat-select formControlName="accountType" (selectionChange)="getTransactions()">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let item of accountTypeList;" [value]="item">
                              {{ item }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-auto" [hidden]="userData?.roles != 'Super Admin'">
                  <mat-form-field appearance="fill">
                      <mat-label>Company</mat-label>
                      <mat-select required formControlName="selectedCompany">
                          <mat-option *ngFor="let item of companyList" [value]="item.id">{{ item.companyName }}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-auto" [hidden]="userData?.roles != 'Super Admin' && userData?.roles != 'Company Admin'">
                    <mat-form-field appearance="fill">
                        <mat-label>Branch</mat-label>
                        <mat-select required formControlName="selectedBranch" (selectionChange)="getTransactions()">
                            <mat-option *ngFor="let item of branchList" [value]="item.id">{{ item.branchTitle }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
          </form>
            <div class="item_table_outer mt-10">
                <div class="table-responsive">
                    <table class="table account_table" matSort>
                        <thead>
                            <tr>
                                <th class="ew-200" mat-sort-header="transactionRefNumber">Ref No.</th>
                                <th class="ew-200" mat-sort-header="transactionDate">Date</th>
                                <th class="ew-200">Account</th>
                                <th class="ew-200" mat-sort-header="transactionType">Type</th>
                                <th>Inventory</th>
                                <th class="ew-200">Amount</th>
                                <th class="">Description</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let item of transactionList?.data; let i =index">
                                <tr (dblclick)="openTransaction(item)">
                                    <td>
                                        {{ item.transactionRefNumber }}
                                    </td>
                                    <td>{{ item.transactionDate | datex: 'DD-MM-YYYY' }}</td>
                                    <td>
                                        <span *ngIf="item.transactionType == 'sales' || item.transactionType == 'receipt'" class="text-muted">To : </span>
                                        <span *ngIf="item.transactionType == 'purchase' || item.transactionType == 'payment'" class="text-muted">From : </span>
                                        {{ item.ledger_account.ledgerName }}
                                    </td>
                                    <td>
                                        <span *ngIf="item.transactionType == 'sales'" class="tag sales">Sales</span>
                                        <span *ngIf="item.transactionType == 'purchase'" class="tag purchase">Purchase</span>
                                        <span *ngIf="item.transactionType == 'payment'" class="tag payment">Payment</span>
                                        <span *ngIf="item.transactionType == 'receipt'" class="tag recipt">Receipt</span>
                                    </td>
                                    <td>
                                        <span class="line-clamp-2">
                                            {{ item.inventory_string }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="d-inline-block mr-5"> &#8377;</span>{{ item.grandTotal| currency:'':'' }}
                                    </td>
                                    <td>
                                        <ng-container *ngIf="item.description else noData">
                                            {{ item.description }}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="transactionList?.total == 0">
                                <td colspan="7">No entries to show here.</td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10]" [length]="transactionList?.total" [pageSize]="10"></mat-paginator>
                </div>
            </div>

            <ng-template #noData>---</ng-template>
        </div>

    </div>

</div>
