<div class="page_header d-flex mb-4">
    <h2 class="header_title">Feedback Questions</h2>
    <div class="ml-auto">
        <button mat-raised-button color="primary" (click)="sidemenu = !sidemenu">Add New</button>
    </div>
</div>
<div class="table_outerWrapper mat-elevation-z2 mt-20">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ew-100"> Action </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="moreOption">
                    <img src="assets/images/icons/MORE.svg" alt="" class="icon_img">
                </button>
                    <mat-menu #moreOption="matMenu" yPosition="above">
                    <button mat-menu-item><img src="assets/images/icons/EDIT.svg" alt="" class="icon_img"> Edit</button>
                    <button mat-menu-item><img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img">Delete</button>
                </mat-menu>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="questions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions </th>
            <td mat-cell *matCellDef="let element"> {{element.questions}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<div class="right_sidePannel transition" [class.active]="sidemenu">
    <div class="right_headerBox">
        <h4>Add New</h4>
    </div>
    <div class="right_bodyWrapper">
        <mat-form-field  appearance="outline" class="w-100 pb-0 mb-15">
            <mat-label>Questions</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field  appearance="outline" class="w-100 pb-0 mb-15">
            <mat-label>Select type</mat-label>
            <mat-select matNativeControl required>
                <mat-option value="type one">type one</mat-option>
                <mat-option value="type two">type two</mat-option>
                <mat-option value="type three">type three</mat-option>
                <mat-option value="type four">type four</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="d-flex justify-content-between">
            <button mat-raised-button color="primary">Add</button>
            <button mat-raised-button color="warn" (click)="sidemenu = !sidemenu">Cancel</button>
        </div>
    </div>
</div>
<div class="backdrop" [class.active]="sidemenu" (click)="sidemenu = !sidemenu"></div>