$color-primary: #2e358e;
$color-accent: #faae1a;
$color-warning:#bd2227;
.buttons_row{
    margin-bottom:15px;
    & .clickBox{
        background-color: #fff;
        color: $color-primary;
        border-left: 4px solid $color-primary;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        min-height: 60px;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin-bottom: 10px;
        text-shadow: 0px 0px 0px rgba(0,0,0,0.1);
        font-weight: 500;
        cursor: pointer;
        transition: .3s ease-in-out;
        box-shadow: 0px 2px 12px rgba(157, 157, 157, 0.5);
        &:hover{
            text-shadow: 0px 0px 8px rgba(0,0,0,0.3);
            box-shadow: 0px 2px 2px rgba(157, 157, 157, 0.5);
        }
    }
}
.orderList_box{
    padding: 15px 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);

    & h3{
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    & .orderBox{
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        width: 100%;
        margin-bottom: 15px;

        & .orderBox_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .order_number{
                margin-bottom: 0px;
                margin-top: 0px;
                font-size: 1.4rem;
                font-weight: 500;
            }
            & .order_time{
                font-size: 1.4rem;
                display: inline-block;
            }
        }
        & .orderBox_body{
            padding: 10px 0px;
            font-size: 1.6rem;
        }
        & .orderBox_footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .price_tag{
                margin-bottom: 0px;
                margin-top: 0px;
                font-size: 1.4rem;
                font-weight: 600;
            }
            & .viewBtn{
                font-size: 1.3rem;
                display: inline-block;
                border-radius: 25px;
                background-color: $color-primary;
                color: #fff;
                
                padding: 2px 6px;
            }
        }

        &.on_table{
            background-color: rgba(191, 198, 255, 0.21);
            color: #000;
        }
        &.parcel_order{
            background-color: rgba(255, 171, 93, 0.28);
            color: #000;
        }
        &.completed{
            background-color: rgba(171, 255, 151, 0.55);
            color: #000;
        }
        &.cancelled{
            background-color: rgba(247, 55, 24, 0.55);
            color: #000;
        }
    }
}