<div class="row buttons_row">
    <div class="col-lg-3 col-md-6">
        <div class="clickBox">
            Create New Order
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="clickBox">
            View Table
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="clickBox">
            Reports
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="clickBox">
            Products
        </div>
    </div>
</div>

<div class="orderList_box">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="order_listInner">
                <h3>On Table Orders</h3>
                <ul class="list-unstyled mb-0 table_order">
                    <li>
                        <div class="orderBox">
                            <div class="orderBox_header">
                                <h4 class="order_number">0001</h4>
                                <span class="order_time">00:00:01</span>
                            </div>
                            <div class="orderBox_body">
                                T2, T3, T4
                            </div>
                            <div class="orderBox_footer">
                                <p class="price_tag">&#8377; 2500</p>
                                <a href="javascript:;" class="btn viewBtn">View Order</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="orderBox">
                            <div class="orderBox_header">
                                <h4 class="order_number">0001</h4>
                                <span class="order_time">00:00:01</span>
                            </div>
                            <div class="orderBox_body">
                                T2, T3, T4
                            </div>
                            <div class="orderBox_footer">
                                <p class="price_tag">&#8377; 2500</p>
                                <a href="javascript:;" class="btn viewBtn">View Order</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="order_listInner">
                <h3>Take Away</h3>
                <ul class="list-unstyled mb-0 parcel_order">
                    <li>
                        <div class="orderBox">
                            <div class="orderBox_header">
                                <h4 class="order_number">0001</h4>
                                <span class="order_time">00:00:01</span>
                            </div>
                            <div class="orderBox_body">
                                Orderd on Zomato
                            </div>
                            <div class="orderBox_footer">
                                <p class="price_tag">&#8377; 2500</p>
                                <a href="javascript:;" class="btn viewBtn">View Order</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="orderBox">
                            <div class="orderBox_header">
                                <h4 class="order_number">0001</h4>
                                <span class="order_time">00:00:01</span>
                            </div>
                            <div class="orderBox_body">
                                Suggi Order
                            </div>
                            <div class="orderBox_footer">
                                <p class="price_tag">&#8377; 2500</p>
                                <a href="javascript:;" class="btn viewBtn">View Order</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="order_listInner">
                <h3>Finished</h3>
                <ul class="list-unstyled finished_order mb-0">
                    <li>
                        <div class="orderBox">
                            <div class="orderBox_header">
                                <h4 class="order_number">0001</h4>
                            </div>
                            <div class="orderBox_footer mt-4">
                                <p class="price_tag">&#8377; 2500</p>
                                <a href="javascript:;" class="btn viewBtn">View Payment</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>