.right_details_box{
    width: 100%;
}
.id_Pill{
    background-color: #ffd740;
    color: #000314;
    padding: 0px 14px;
    border-radius: 7px;
    margin-left: 25px;
    font-weight: 400;
    &.new{
        background-color: #f33030;
        color: #ffffff;
    }
}