<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="logo_headerBox" [class.small]="!_layout.isOpened">
            <img src="assets/images/logo-full.svg" class="logoImg expand" alt="">
            <img src="assets/images/logo-small.svg" class="logoImg collapsed" alt="">

        </span>
        <button type="button" class="ml-3" mat-icon-button (click)="_layout.isOpened = !_layout.isOpened">
            <img src="assets/images/icons/SIDEMENU.svg" alt="" class="icon_img">
        </button>
        <!-- <span>Resto App</span> -->
        <div class="header_navigation">
            <ul>
                <!-- <li class="mr-20">
                    <button type="button" [matMenuTriggerFor]="notification" mat-icon-button>
                        <mat-icon matBadgeColor="accent" matBadgePosition="before" matBadge="15">notifications</mat-icon>
                    </button>
                    <mat-menu #notification="matMenu" class="notification_menu">
                        <ul class="list-unstyled mb-0">
                            <li matRipple>Notification message</li>
                            <li matRipple>Notification message</li>
                            <li matRipple>Notification message</li>
                        </ul>
                    </mat-menu>
                </li> -->
                <li class="mr-20">
                    <button *ngIf="isOffline" type="button" mat-icon-button class="syncBtn"  [class.on]="syncOn" (click)="synchronizeData()">
                        <!-- <mat-icon>autorenew</mat-icon> -->
                        <img src="assets/images/icons/SYNC.svg" alt="" class="icon_img">
                    </button>
                </li>
                <li>
                    <div class="profile_box" [matMenuTriggerFor]="profileMenu" [ngStyle]="{'background-image': imgSrc}"></div>
                    <mat-menu #profileMenu="matMenu" class="notification_menu profile_menu">
                        <h4>
                          {{ currentUser?.user.firstName }} {{ currentUser?.user.lastName }}<br>
                          <small class="text-muted">{{ currentUser?.user.roles }}</small>
                        </h4>
                        <ul class="list-unstyled mb-0">
                            <button mat-menu-item (click)="changeProfile()">Change Image</button>
                            <button mat-menu-item (click)="changePassword()">Change Password</button>
                            <button mat-menu-item  (click)="signOut()">Sign Out</button>
                        </ul>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>

</mat-toolbar>
