<div class="page_header d-flex mb-4">
    <h2 class="header_title" *ngIf="!branchId">Add New Branch</h2>
    <h2 class="header_title" *ngIf="branchId">Update Branch</h2>
</div>

<form [formGroup]="form" (submit)="saveBranch($event)">
    
    <div class="add_formWrapper">
        <div class="row">
            <div class="col-sm-auto">
                <div class="product_imrBox">
                    <input type="file" name="" id="prodctImg"  (change)="handleFileInput($event)">
                    <label for="prodctImg" title="Change Image"  [ngStyle]="{'background-image': imageSrc}"></label>
                </div>
            </div>
            <div class="col-sm 12 col-md">
                <div class="row">
                    <div class="col-12">
                        <div class="row no-gutters flex-nowrap">
                            <div class="col-3">
                                <mat-form-field  appearance="outline" class="w-100 pb-0 mb-15">
                                    <mat-label>Branch Code</mat-label>
                                    <input type="text" formControlName="branchCode" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field  appearance="outline" class="w-100 pb-0 mb-15">
                                    <mat-label>Branch Title</mat-label>
                                    <input type="text" formControlName="branchTitle" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <mat-form-field  appearance="outline" class="w-100 pb-0 mb-15">
                            <mat-label>Branch Address</mat-label>
                            <input type="text" formControlName="branchAddress" matInput>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>



        <div class="row align-items-center flex-wrap mb-15">
            <div class="col-12">
                <div class="d-flex align-items-center my-10">
                    <p class="my-0 mr-20">Is Active?</p>
                    <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
                </div>
            </div>
        </div>
        
        <div class="button_wrapper">
            <button mat-raised-button color="primary" class="mr-20">{{ (branchId)?'Update':'Add'}}</button>
            <button mat-raised-button color="warn">Cancel</button>
        </div>
    </div>
</form>