<form [formGroup]="form" (submit)="saveBranch($event)">

    <div class="add_formWrapper">
        <div class="row">
            <div class="col-sm-auto order-md-12">
                <div class="product_imrBox">
                    <input type="file" name="" id="prodctImg"  (change)="handleFileInput($event)">
                    <label for="prodctImg" title="Change Image"  [ngStyle]="{'background-image': imageSrc}"></label>
                </div>
            </div>
            <div class="col-sm 12 col-md">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" class="w-100 mb-5">
                            <mat-label>Company</mat-label>
                            <mat-select formControlName="company_id">
                                <mat-option *ngFor="let item of companyList" [value]="item.id">{{ item.companyName }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-8">
                        <div class="row no-gutters flex-nowrap">
                            <div class="col-auto pr-2">
                                <mat-form-field  appearance="fill" class="ew-150 mb-5">
                                    <mat-label>Branch Code</mat-label>
                                    <input type="text" formControlName="branchCode" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field  appearance="fill" class="w-100 mb-5">
                                    <mat-label>Branch Title</mat-label>
                                    <input type="text" formControlName="branchTitle" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <mat-form-field  appearance="fill" class="w-100 mb-5">
                            <mat-label>Branch Address</mat-label>
                            <input type="text" formControlName="branchAddress" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field  appearance="fill" class="w-100 mb-5">
                            <mat-label>GST Number</mat-label>
                            <input type="text" formControlName="gstNumber" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field  appearance="fill" class="w-100 mb-5">
                            <mat-label>Tax Percentage</mat-label>
                            <input type="text" formControlName="taxPercent" matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" rows="3" cdkTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field  appearance="fill" class="w-100 mb-5">
                            <mat-label>Bill Printer</mat-label>
                            <mat-select formControlName="billPrinter">
                                <mat-option *ngFor="let item of printerList" [value]="item.name">{{ item.displayName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field  appearance="fill" class="w-100 mb-5">
                            <mat-label>KOT Printer</mat-label>
                            <mat-select formControlName="kotPrinter">
                                <mat-option *ngFor="let item of printerList" [value]="item.name">{{ item.displayName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>


        <mat-card class="mt-15 only_boder">
            <h3 class="mb-10 d-flex justify-content-between align-items-center">
                Room Setup
                <button mat-stroked-button color="primary" type="button" (click)="addAnotherRoom()">+ Add</button>
            </h3>

            <div formArrayName="rooms">
                <ng-container *ngFor="let item of rooms['controls'];let i=index;">
                    <div class="row align-items-center" *ngIf="!item.get('deletedFlag').value" [formGroupName]="i">
                        <div class="col">
                            <mat-form-field  appearance="fill" class="w-100 mb-5">
                                <mat-label>Room Name</mat-label>
                                <input type="text" formControlName="roomName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-auto">
                            <mat-slide-toggle color="accent" class="mb-15" formControlName="withAc">AC?</mat-slide-toggle>
                        </div>
                        <div class="col-auto">
                            <mat-slide-toggle color="accent" class="mb-15" formControlName="serveLiquor">Liquor?</mat-slide-toggle>
                        </div>
                        <div class="col-auto">
                            <mat-slide-toggle color="accent" class="mb-15" formControlName="isActive">Active?</mat-slide-toggle>
                        </div>
                        <div class="col-auto">
                            <button mat-button color="primary" type="button" class="mb-15" (click)="deleteRoom(item, i)">- Delete</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-card>


        <mat-card class="mt-15 only_boder">
            <h3 class="mb-10 d-flex justify-content-between align-items-center">
                Kitchen Setup
                <button mat-stroked-button color="primary" type="button" (click)="addAnotherKitchen()">+ Add</button>
            </h3>

            <div formArrayName="kitchens">
                <ng-container *ngFor="let item of kitchens['controls'];let i=index;">
                    <div class="row align-items-center" *ngIf="!item.get('deletedFlag').value" [formGroupName]="i">
                        <div class="col-sm-4">
                            <mat-form-field  appearance="fill" class="w-100 mb-5">
                                <mat-label>Kitchen Title</mat-label>
                                <input type="text" formControlName="kitchenTitle" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-auto">
                            <button mat-button color="primary" type="button" class="mb-15" (click)="deleteKitchen(item, i)">- Delete</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-card>

        <mat-card class="mt-15 only_boder">
            <h3 class="mb-10 d-flex justify-content-between align-items-center">
                Order Type Setup
                <button mat-stroked-button color="primary" type="button" (click)="addAnotherOrderType()">+ Add</button>
            </h3>

            <div formArrayName="orderTypes">
                <ng-container *ngFor="let item of orderTypes['controls'];let i=index;">
                    <div class="row align-items-center" *ngIf="!item.get('deletedFlag').value" [formGroupName]="i">
                        <div class="col">
                            <mat-form-field  appearance="fill" class="w-100 mb-5">
                                <mat-label>Title</mat-label>
                                <input type="text" formControlName="orderType" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-slide-toggle color="accent" class="mb-15" formControlName="tableRequired">Table Required?</mat-slide-toggle>
                        </div>
                        <div class="col">
                            <mat-slide-toggle color="accent" class="mb-15" formControlName="isActive">Active?</mat-slide-toggle>
                        </div>
                        <div class="col-auto">
                            <button mat-button color="primary" type="button" class="mb-15" (click)="deleteOrderType(item, i)">- Delete</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-card>


        <mat-card class="mt-15 only_boder">
            <h3 class="mb-10 d-flex justify-content-between align-items-center">
                Payment Method Setup
                <button mat-stroked-button color="primary" type="button" (click)="addAnotherPaymentMethod()">+ Add</button>
            </h3>

            <div formArrayName="paymentMethods">
                <ng-container *ngFor="let item of paymentMethods['controls'];let i=index;">
                    <div class="row align-items-center" *ngIf="!item.get('deletedFlag').value" [formGroupName]="i">
                        <div class="col-sm-4">
                            <mat-form-field  appearance="fill" class="w-100 mb-5">
                                <mat-label>Method Title</mat-label>
                                <input type="text" formControlName="methodTitle" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-auto">
                            <button mat-button color="primary" type="button" class="mb-15" (click)="deletePaymentMethod(item, i)">- Delete</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-card>


        <div class="row align-items-center flex-wrap mb-15">
            <div class="col-12">
                <div class="d-flex align-items-center my-10">
                    <p class="my-0 mr-20">Is Active?</p>
                    <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
                </div>
            </div>
        </div>

        <div class="button_wrapper">
            <button mat-raised-button color="primary" class="mr-20" type="submit">{{ (branchId)?'Update':'Add'}}</button>
            <button mat-raised-button color="warn" type="button">Cancel</button>
        </div>
    </div>
</form>
