<div class="accont_header_wrapping pa-25">
    <h2 class="text-uppercase font-weight-500 mb-0 d-flex align-items-center justify-content-between">
        Users
        <!-- <div>
            <button mat-raised-button color="primary" routerLink="/admin/settings/company/update">Add New</button>
        </div> -->
    </h2>
</div>
<div class="account_body_wrapper">
    <div class="body_inner_card">
        <div class="tab_header">
            <div class="tab_btn" routerLink="/admin/user/list" routerLinkActive="active">
                <a href="javascript:;">User Lists</a>
            </div>
            <div class="tab_btn" routerLink="/admin/user/update" routerLinkActive="active pointer-none"  *ngIf=" this._serv.getPermission('users', 'full')">
                <a href="javascript:;">{{editId?'Update User': 'Add User'}} </a>
            </div>
            <div class="tab_btn" routerLink="/admin/user/attendance" routerLinkActive="active pointer-none"  *ngIf=" this._serv.getPermission('user-attendance', 'read')">
                <a href="javascript:;">Attendance </a>
            </div>
            <!--<div class="tab_btn">
                <a href="javascript:;">Unit</a>
            </div>
            <div class="tab_btn">
                <a href="javascript:;">Settings</a>
            </div> -->
        </div>
        <div class="tab_body pa-20">
            <router-outlet></router-outlet>
        </div>
        
    </div>

</div>