<div class="page_header d-flex mb-4">
    <h2 class="header_title">Transaction List</h2>
    <div class="ml-auto">
        <button mat-raised-button color="primary">Make Transaction</button>
    </div>
</div>
<mat-card class="filter_wrapper my-20 py-20">
    <div>
        <div class="row gutters-10">
            <div class="col-lg col-md-4 col-sm-6">
                <mat-form-field appearance="outline" class="w-100 pb-0">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-lg col-md-4 col-sm-6">
                <mat-form-field appearance="outline" class="w-100 pb-0">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-lg col-md-4 col-sm-6">
                <mat-form-field appearance="outline" class="w-100 pb-0">
                    <mat-label>Date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="col-lg col-md-4 col-sm-6">
                <mat-form-field appearance="outline" class="w-100 pb-0">
                    <mat-label>Ammount</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-lg-auto col-md-4 col-sm-6">
                <button mat-icon-button><mat-icon>search</mat-icon></button>
            </div>
        </div>
    </div>
</mat-card>

<div class="table_wrapper mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="trasactionid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ew-130"> Transaction ID </th>
            <td mat-cell *matCellDef="let element"> {{element.trasactionid}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> To Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ew-250"> Transaction Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ew-150"> Ammount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>