<div class="page_header d-flex mb-4">
    <h2 class="header_title">Units</h2>
    <div class="ml-auto">
        <button mat-raised-button color="primary" type="button" class="sm_btn" (click)="addNewUnit()">Add New</button>
    </div>
</div>

<div class="page_body" [formGroup]="form">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Unit Label</td>
                    <td>Description</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <ng-container formArrayName="newUnits">
                    <tr *ngFor="let item of newUnits['controls'];let i=index;" [formGroupName]="i" class="edit_table_row">
                        <td class="inline_edit" [class.error]="!item.get('unitLabel').value">
                            <input type="text" formControlName="unitLabel">
                            <div class="error_spin">
                                <mat-icon>bug_report</mat-icon>
                            </div>
                        </td>
                        <td class="inline_edit">
                            <input type="text" formControlName="description">
                        </td>
                        <td class="action">
                            <button mat-icon-button color="primary" type="button" class="sm_btn mr-2" (click)="saveUnit(item, i)">
                                <mat-icon>save</mat-icon>     
                            </button>
                            <button mat-icon-button color="warn" type="button" class="sm_btn" (click)="removeNewUnit(i)">
                                <mat-icon>clear</mat-icon>     
                            </button>
                        </td>
                    </tr>
                </ng-container>
                <ng-container formArrayName="units">
                    <tr *ngFor="let item of units['controls'];let i=index;" [formGroupName]="i" [class.edit_table_row]="i == editIndex">
                        <td class="inline_edit"  [class.error]="!item.get('unitLabel').value">
                            <input type="text" formControlName="unitLabel" [readonly]="i != editIndex">
                            <div class="error_spin">
                                <mat-icon>bug_report</mat-icon>
                            </div>
                        </td>
                        <td class="inline_edit error">
                            <input type="text" formControlName="description" [readonly]="i != editIndex">
                        </td>
                        <td class="action">
                            <button mat-icon-button *ngIf="i != editIndex" color="primary" type="button" class="sm_btn mr-2" (click)="onEditClick(i)">
                                <mat-icon>edit</mat-icon>     
                            </button>
                            <button mat-icon-button *ngIf="i == editIndex" color="primary" type="button" class="sm_btn mr-2" (click)="saveUnit(item)">
                                <mat-icon>save</mat-icon>     
                            </button>
                            <button mat-icon-button color="warn" *ngIf="i == editIndex" type="button" class="sm_btn" (click)="editIndex=undefined;">
                                <mat-icon>clear</mat-icon>     
                            </button>
                            <button mat-icon-button color="warn" *ngIf="i != editIndex" type="button" class="sm_btn" (click)="deletUnit(i)">
                                <mat-icon>delete</mat-icon>     
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>