
  <div class="row">
    <div class="col-xxxxl-3 col-xl-4">
      <div class="quick_order_card not_saved">
        <div class="order_header">
          <span class="header_title">#qwer202523</span>
          <div class="tables">
            <span>T1</span>
            <span>T2</span>
          </div>
        </div>
        <div>Kiran Shetty</div>
        <div>
          <span>29-02-1996</span>
          <span>10:15 AM</span>
        </div>
        <div>
          <span>Rs 26.00</span>
          <span>On Table</span>
        </div>
      </div>
    </div>
  </div>

  <button type="button" (click)="openQuickUpdate()" mat-fab color="primary" class="fixed_add_button">
    <img src="assets/images/icons/ADD_ICON.svg" alt="">
  </button>
