<form [formGroup]="form" class="order_new_wrapper">
  <div class="new_order_header">
      <mat-chip-list aria-label="Fish selection">
          <ng-container *ngFor="let item of orderTypeList;">
              <mat-chip *ngIf="item.isActive" color="primary" [selected]="item.id == form.get('orderType').value" (click)="changeOrderType(item.id, 'button')">{{ item.orderType }}</mat-chip>
          </ng-container>
      </mat-chip-list>
      <div class="table_selected_row" *ngIf="selectedOrderType?.tableRequired">
        <p *ngIf="false">
          No Table Selected
        </p>
        <ul>
          <li>
            T1
          </li>
          <li>
            T2
          </li>
          <li>
            T3
          </li>
        </ul>
      </div>

      <h2 class="id_Pill" [class.new]="!orderDetails" [class.completed]="orderDetails && orderDetails?.orderStatus == 'completed'" [class.cancelled]="orderDetails && orderDetails?.orderStatus == 'cancelled'">{{orderDetails ? '#'+orderDetails.id : '# - - - - - -'}}</h2>
  </div>
  <div class="search_header_row">
    <div class="search_wraper">
      <input type="text"
           placeholder="Search for a item"
           [formControl]="searchControl"
           [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container *ngFor="let cat of productListObserver|async">
          <mat-optgroup *ngIf="cat.products.length > 0" [label]="cat.categoryName"
                        [disabled]="cat.products.length <= 0">
            <mat-option *ngFor="let item of cat.products" [value]="item.id">
              {{ item.productName | titlecase }}
              <span>{{ item.price | currency }}</span>
            </mat-option>
          </mat-optgroup>
        </ng-container>
      </mat-autocomplete>
    </div>
  </div>
  <div class="content_body_row">
    <div class="row no-gutters">
      <div class="col fav_menu_wrapper">
          <mat-selection-list class="selection_list" [multiple]="false">
            <ng-container *ngFor="let menu of favoriteMenuList">
              <div mat-subheader class="selection_list_header">{{menu.menuTitle}}</div>
              <mat-list-option class="selection_list_option" *ngFor="let product of menu.products">
  <!--              <mat-icon mat-list-icon>folder</mat-icon>-->
                <div mat-line class="selection_list_line">
                  <span class="title">{{ product.productName }}</span>
                  <div> {{ product.price }} </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-selection-list>
      </div>
      <div class="col">

      </div>
      <div class="col">

      </div>
    </div>
  </div>
  <div class="footer_row">
    <button mat-stroked-button color="success"> Complete Order</button>
    <button mat-stroked-button aria-label="" color="warn">Cancel Order</button>
    <button mat-stroked-button *ngIf="form.get('orderStatus').value == 'completed' || form.get('orderStatus').value == 'cancelled' || blockForms" color="primary" type="button"> Reopen</button>

  </div>
</form>
