
<div class="item_table_outer mt-10">
    <div class="table-responsive">
        <table class="table account_table" matSort>
            <thead>
                <tr>
                    <th class="ew-100"  *ngIf=" this._serv.getPermission('users', 'full')">Action</th>
                    <th mat-sort-header="firstName" class="ew-200">User Name</th>
                    <th mat-sort-header="roles" class="ew-200">Role</th>
                    <th mat-sort-header="company" [hidden]="userData?.roles != 'Super Admin'">Company</th>
                    <th mat-sort-header="branch" [hidden]="userData?.roles != 'Super Admin' && userData?.roles != 'Company Admin'">Branch</th>
                    <th mat-sort-header="mobileNumber" class="ew-200">Mobile No.</th>
                    <th mat-sort-header="email" class="ew-250">Email</th>
                    <th class="ew-150">Is Active?</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of dataSource?.data; let i =index">
                    <tr *ngIf="userData?.user_id != item.id">
                        <td  *ngIf=" this._serv.getPermission('users', 'full')">
                            <button mat-icon-button [matMenuTriggerFor]="moreOption">
                                <img src="assets/images/icons/MORE.svg" alt="" class="icon_img">
                            </button>
                            <mat-menu #moreOption="matMenu">
                                <button mat-menu-item type="button" [routerLink]="['/admin/user/update/'+item.id]"><img src="assets/images/icons/EDIT.svg" alt="" class="icon_img"> Edit</button>
                                <button mat-menu-item type="button" (click)="deleteUser(item)"><img src="assets/images/icons/TRASHBIN.svg" alt="" class="icon_img">Delete</button>
                                <button mat-menu-item type="button" (click)="changeOtherUserPassword(item)"><img src="assets/images/icons/SETTINGS.svg" alt="" class="icon_img">Change Password</button>
                            </mat-menu>
                        </td>
                        <td>
                            {{item.firstName}} {{ item.lastName }}
                        </td>
                        <td>{{item.roles}}</td>
                        <td [hidden]="userData?.roles != 'Super Admin'">
                            {{item.company?.companyName}}
                        </td>
                        <td [hidden]="userData?.roles != 'Super Admin' && userData?.roles != 'Company Admin'">
                            {{item.branch?.branchTitle}}
                        </td>
                        <td>
                            {{item.mobileNumber}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <td>
                            <mat-slide-toggle color="accent" disabled="true" [(ngModel)]="item.isActive"></mat-slide-toggle>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="dataSource?.total == 0">
                    <td colspan="7">No Data to display</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" [length]="dataSource?.total" [pageSize]="10"></mat-paginator>
    </div>
</div>
