@import 'variables.scss';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'theme-palette.scss';

@import 'mix-scss/scss/lib.scss';

@include mat-core();
$frontExpoSmart-primary: mat-palette($md-frontexpo-blue);
$frontExpoSmart-accent: mat-palette($md-frontexpo-orange, A200, A100, A400);
$frontExpoSmart-warn: mat-palette($md-frontexpo-red);
$frontExpoSmart-theme: mat-light-theme((
  color: (
    primary: $frontExpoSmart-primary,
    accent: $frontExpoSmart-accent,
    warn: $frontExpoSmart-warn,
    success: $frontExpoSmart-warn,
  )
));
@include angular-material-theme($frontExpoSmart-theme);

html, body { 
    height: 100%; 
    font-size: 10px;
    margin: 0; 
    // font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    color: #3a3a3a;
}
.mat-elevation-z4{
    box-shadow: 0px 3px 10px #CCCEE9;
}
.scroll_style{
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c8c8c8;
        border-radius: 10px;
        // outline: 1px solid slategrey;
    }
}
button:focus {
    outline: none;
}
.text-primary{
    color: $color-primary !important;
}
.text-primary-light{
    color: rgba($color-primary, 0.5) !important;
}
.text-accent{
    color: $color-accent !important;
}
.text-warning{
    color: $color-warning !important;
}
.transition{
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.title_h3{
    font-size: 2.4rem !important;
}
h3.page_title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;;
}
.gutters-10{
    margin-right: -5px;
    margin-left: -5px;
  
    > .col,
    > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
}
.table_action_button {
    margin-left: -18px !important;
}
.action_title,
.action_title:focus,
.action_title:hover
{
    text-decoration: none;
}

.custom_card {
    padding: 20px;

    & .card_title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

// inner page css
.page_header{
    & .header_title{
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 1.8rem;
    }
}

// mat form-field padding
mat-form-field{
    &.pb-0{
        & .mat-form-field-wrapper{
            padding-bottom: 0px;
        }
    }

    &.order-calc .mat-form-field-wrapper .mat-form-field-suffix {
        top: -4px;
    }
}

.right_sidePannel{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    height: 100%;
    z-index: 3;
    box-shadow: -2px 0px 12px rgba(#000, 0.2);
    overflow: auto;
    &.active{
        right: 0px;
    }
    & .right_headerBox{
        & h4{
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
        }
    }
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.1);
    z-index: 2;
    &.active{
        display: block;
    }
}

.number_input{
    width: 100px;
    & .btn{
        background-color: $color-primary;
        color: #fff;
        border-color: $color-primary;
        font-size: 1.4rem;
        width: 30px;
    }
    & .form-control{
        border-color: $color-primary;
        font-size: 1.4rem;
        text-align: center;
        &:focus{
            box-shadow: none;
        }
    }
}
.success-snackbar{ 
    background-color: #009519;
    & button{
        color: #000;
    }
}
.error-snackbar{ 
    background-color:$color-warning;
    & button{
        color: #000;
    }
}
.info-snackbar{ 
    background-color:$color-accent;
    & button{
        color: #000;
    }
}
.notification_menu{
    width: 250px;
    max-width: 100%;
    margin-bottom: 0px;
    & li{
        padding: 10px 15px;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover{
            background-color: #f3f3f3;
        }
    }
    &.profile_menu{
        width: 200px;
        & h4{
            font-weight: 600;
            font-size: 1.6rem;
            padding: 0px 15px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}
.popup_formWrapper{
    width: 300px;
    max-width: 100%;
    & h3{
        font-weight: 500;
        font-size: 1.6rem;
    }

}
.popup_Btnfooter{
    margin-top: 15px;
}

// ==================input box style edit ==========================
.mat-form-field{
    &.mat-form-field-appearance-outline{
        & .mat-form-field-wrapper{
            margin: 0px 0;
            & .mat-form-field-flex{
                margin-top: 0px;
                &:hover{
                    & .mat-form-field-outline-thick{
                        color: $color-primary;
                    }
                }
                & .mat-form-field-infix{
                    // border-top: 0px;
                    border-top: 0px solid transparent;
                    padding: 10px 0px 12px;
                }
                
            }
            & .mat-form-field-outline{
                top: 0;
            }
            & .mat-form-field-suffix{
                top: .4em;
                & .mat-icon-button{
                    width: 2em !important;
                    height: 2em !important;
                }
            }
            
            & .mat-select-arrow-wrapper{
                transform: translateY(10%);
            }
        }
        &.mat-form-field-can-float{
            &.mat-form-field-should-float {
                & .mat-form-field-label{
                    transform: translateY(-1.2em) scale(0.75);
                }
            }
        }
    }
    &.mat-form-field-appearance-fill{
        .mat-form-field-flex{
            background-color: #EAEBF6;
            border-radius: 0px;
            padding: .3em .75em 0 .75em;
            .mat-form-field-infix{
                padding: 0.1em 0 0.4em 0;
            }
            .mat-form-field-prefix,
            .mat-form-field-suffix{
                .mat-icon-button{
                    width: 2em;
                    height: 2em;
                }
            }
        }
        .mat-form-field-underline{
            &::before{
                background-color: rgba(0, 0, 0, 0);
            }
            .mat-form-field-ripple{
                background-color: #2e358e;
            }
        }
    }
    &.field-pb-0{
        & .mat-form-field-wrapper{
           padding-bottom: 0px;
        }
    }
    &.table_select{
        .mat-form-field-infix{
            border-top: 0px;
            padding: 3px 0px;
        }
        .mat-form-field-underline{
            bottom: 0;
            .mat-form-field-ripple{
                height: 1px;
            }
        }
    }
    &.mat-form-field-invalid{
        &.mat-form-field-appearance-fill{
            .mat-form-field-underline{
                .mat-form-field-ripple{
                    background-color: $color-warning;
                }
            }
        }
    }
}



.mat-slide-toggle {
    height: 14px;
    line-height: 14px;
    
    & .mat-slide-toggle-label {
        & .mat-slide-toggle-bar {
            height: 14px;
            // width: 23px;
            width: 35px;

            & .mat-slide-toggle-thumb-container {
                height: 8px;
                width: 8px;
                top: 3px;
                left: 2px;

                & .mat-slide-toggle-thumb {
                    width: 8px;
                    height: 8px;
                    box-shadow: none;
                }
            }
        }

    }

    &.mat-checked {
        
        & .mat-slide-toggle-label {
            & .mat-slide-toggle-bar {

                & .mat-slide-toggle-thumb-container {
                    left: -3px;
                    transform: translate3d(26px, 0, 0);
                }
            }

        }
    }
}

.mat-raised-button.sm_btn {
    line-height: 28px;
}
.mat-icon-button.sm_btn {    
    width: 18px;
    height: 18px;
    line-height: 18px;

    & .mat-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
        line-height: 14px;
    }
}

.edit_table_row {
    background-color: #fff;
}

table {
    & tr {
        &.read-only {
            & td {
                &:not(.action) {
                    pointer-events: none;
                }
            }
        }
        & .inline_edit {
            position: relative;
            min-width: 50px;
            & input, 
            & select {
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
            
                &:focus {
                    outline: none;
                }
            }
        
            & select::-ms-expand {
                display: none;
            }
        
            & .error_spin {
                display: none;
            }
            &.error {
                & .error_spin {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    display: block;
                    // width: 20px;
                    // height: 20px;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // background-color: $color-warning;
                    // border-radius: 50%;
                    // color: #ffffff;
                    // font-size: 12px;
        
                    & .mat-icon {
                        width: 14px;
                        height: 14px;
                        font-size: 14px;
                        color: $color-warning;
                    }
                }
            }
        }
    }
}


.transaction_form {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgba($color-primary, 0.1);
    padding: 20px;

    & .table-responsive {
        padding-bottom: 15px;
        & .inline-input {
            & .mat-form-field-wrapper {
                margin-bottom: -1.25em;
            }
        }
    }

}

.product_imrBox{
    position: relative;
    display: inline-block;
    overflow: hidden;
    & input{
        visibility: hidden;
        position: absolute;
    }
    & label{
        width: 172px;
        height: 172px;
        margin-bottom: 0px;
        background-size: 100%;
        display: block;
        background-image: url('/assets/images/food.jpg');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        border: 1px solid #b9b9b9;
        cursor: pointer;
    }
}

.mat-success {
    background-color: $color-success;
    color: #fff;
}

.mat-icon-success {
    color: $color-success;
}

label.mat-checkbox-layout {
    margin-bottom: 0px;
}

// inside table inputs
.custom_input{
    position: relative;
    .suffix_text{
        position: absolute;
        right: 0;
        z-index: 1;
        height: 100%;
        color: rgba($color-primary, 0.5);
        font-size: 1.4rem;
    }
    .underline{
        content: "";
        position: absolute;
        bottom: 0px;
        height: 1px;
        z-index: 1;
        background-color: #2E358ED6;
        width: 0px;
        left: 50%;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    input{
        max-width: 100%;
        border-radius: 0px;
        background-color: transparent;
        border: transparent;
        border-bottom: 1px solid rgba(46, 52, 142, 0.173);
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:focus{
            outline: none;
            box-shadow: none;
            border-color: transparent;
            &  + .underline{
                width: 100%;
            }
        }
    }   
    &.suffix{
        input{   
            padding-right: 20px;
        }
    }
    &.error_active{
        .underline{
            width: 100%;
            background-color: $color-warning;
        }
        input{
            color: $color-warning;
        }
    }
}

// table icon button edit
.small_icon_btn{
    &.mat-icon-button{
        width: 25px;
        height: 25px;
        line-height: 25px;
        .mat-icon{
            height: 20px;
            width: 20px;
            font-size: 20px;
            line-height: 1;
        }
    }
}

.dropdown_small{
    .mat-menu-item{
        line-height: 35px;
        height: 35px;
    }
}

.status_chip{
    display: inline-flex;
    padding: 5px 12px;
    position: relative;
    border-radius: 6px;
    font-size: 10px;
    align-items: center;
    line-height: 1;
    &::before{
        content: "";
        position: relative;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 7px;
    }
    &.active{
        background-color: rgba($color-success, 0.3);
        color: $color-success;
        &::before{
            background-color: $color-success;
        }
    }
    &.inactive{
        background-color: rgba($color-warning, 0.3);
        color: $color-warning;
        &::before{
            background-color: $color-warning;
        }
    }
}


// Acccounts styles on layout
.accont_header_wrapping{
    min-height: 180px;
    background-color: #cbcde3;
    h2{
        font-size: 2.7rem;
        color: #2E358E;
    }
}
.account_body_wrapper{
    margin-top: -72px;
    .body_inner_card{
        background-color: #fff;
        box-shadow: 0px 3px 10px #CCCEE9;
        border-radius: 5px;
        overflow: hidden;
        .tab_header{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba(46, 52, 142, 0.295);
            .tab_btn{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 2rem;
                    min-width: 230px;
                    color: #2E358E;
                    font-size: 2.6rem;
                    line-height: 1.2;
                    text-decoration: none;
                    font-weight: 500;
                    text-align: center;
                    -webkit--transition: .3s ease-in-out;
                    -moz-transition: .3s ease-in-out;
                    -ms-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
                &.active{
                    a{
                        background-color: rgba(#FBAD19, 0.19);
                    }
                }
            }
        }
    }
}
.account_table{
    thead{
        tr{
            th{
                // background-color: rgba(211, 212, 225, 0.122);
                background-color: #f3f4ff;
                border-bottom:5px solid #fff;
                border-top: none;
                color: rgba(46, 53, 142, 0.549);
                padding: 1.5rem;
                font-size: 1.8rem;
                font-weight: 500;
                &:first-child{
                    border-radius: 10px 0 0 10px;
                }
                &:last-child{
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                vertical-align: middle;
                border-top: none;
                border-bottom: 5px solid #fff;
                background-color: rgba(211, 212, 225, 0.122);
                padding: 1rem 1.5rem;
                font-size: 1.6rem;
                &:first-child{
                    border-radius: 10px 0 0 10px;
                }
                &:last-child{
                    border-radius: 0px 10px 10px 0px;
                }
            }
            &:not(:last-child):hover{
                td{
                    background-color: #fff7e6;
                }
            }
            &.total_row{
                background-color: #EBE9E9;
                td{
                    font-weight: 600;
                }
            }
        }
    }
}

.dash_card{
    box-shadow: 0px 3px 10px #CCCEE9 !important;
    h1{
        font-size: 3.4rem;
    }
}
.only_boder{
    box-shadow: none !important;
    border: 1px solid #ddd;
}
.radio_toggle{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    border-radius: 26px;
    background-color: rgba($color-primary, 0.3);
    .radioBox{
        position: relative;
        overflow: hidden;
        label{
            padding: 5px 16px;
            font-size: 1.6rem;
            line-height: 1.5;
            display: block;
            cursor: pointer;
            color: $color-primary;
            margin-bottom: 0px;
            -webkit-transition: .3s ease-in-out;
                -ms-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                transition: .3s ease-in-out;    
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 26px;
                top: 0;
                z-index: 1;
                -webkit-transition: .3s ease-in-out;
                -ms-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                transition: .3s ease-in-out;    
                background-color: $color-primary;
            }
            &.valueOne{
                &:after{
                    left: 100%;
                }
            }
            &.valueTwo{
                &:after{
                    right: 100%;
                }
            }
            p{
                position: relative;
                margin-bottom: 0px;
                z-index: 2;
            }
        }
        input[type="radio"]{
            opacity: 0;
            position: absolute;
            visibility: hidden;
            &:checked + label{
                color: #fff;
                &.valueOne{
                    &:after{
                        left: 0%;
                    }
                }
                &.valueTwo{
                    &:after{
                        right: 0%;
                    }
                }
            }
        }

    }
}

.goresto_tooltip{
    background-color: #2e358e;
    line-height: 1.4;
    white-space: pre-line;
}

.tag{
    display: inline-block;
    border-radius: 5px;
    padding: 3px 10px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 5px;
    &.sales{
        color: #2e358e;
        background-color: rgba(54, 0, 241, 0.349);
        box-shadow: 0px 2px 5px -1px rgba(177, 158, 242,0.53%);
    }
    &.purchase{
        color: #8e2e2e;
        background-color: rgba(241, 0, 0, 0.349);
        box-shadow: 0px 2px 5px -1px rgba(177, 158, 242,0.53%);
    }
    &.payment{
        color: #368e2e;
        background-color: rgba(0, 241, 20, 0.349);
        box-shadow: 0px 2px 5px -1px rgba(177, 158, 242,0.53%);
    }
    &.recipt{
        color: #2e8b8e;
        background-color: rgba(0, 241, 229, 0.349);
        box-shadow: 0px 2px 5px -1px rgba(177, 158, 242,0.53%);
    }
}

.goresto_checkBox{
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-right: 10px;
    label{
        display: inline-block;
        padding: 5px 10px;
        border-radius: 30px;
        font-weight: 500;
        margin-bottom: 0px;
        border: 1px solid $color-primary;
        background-color: transparent;
        color: $color-primary;
        text-align: center;
        min-width: 100px;
        line-height: 1.5;
        cursor: pointer;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    input[type="checkbox"]{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        &:checked + label{
            background-color: $color-primary;
            color: #fff;
        }
    }

}