
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'theme-palette.scss';

@import 'mix-scss/scss/lib.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontExpoSmart-primary: mat-palette($md-frontexpo-blue);
$frontExpoSmart-accent: mat-palette($md-frontexpo-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontExpoSmart-warn: mat-palette($md-frontexpo-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontExpoSmart-theme: mat-light-theme((
  color: (
    primary: $frontExpoSmart-primary,
    accent: $frontExpoSmart-accent,
    warn: $frontExpoSmart-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontExpoSmart-theme);

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// $color-primary: #2e358e;
// $color-accent: #faae1a;
// $color-warning:#bd2227;
html, body { 
    height: 100%; 
    font-size: 10px;
    margin: 0; 
    // font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    color: #3a3a3a;
}
.scroll_style{
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c8c8c8;
        border-radius: 10px;
        // outline: 1px solid slategrey;
    }
}
button:focus {
    outline: none;
}
.transition{
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
h3.page_title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;;
}
.gutters-10{
    margin-right: -5px;
    margin-left: -5px;
  
    > .col,
    > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
}
.table_action_button {
    margin-left: -18px !important;
}
.action_title,
.action_title:focus,
.action_title:hover
{
    text-decoration: none;
}

.custom_card {
    padding: 20px;

    & .card_title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

// inner page css
.page_header{
    & .header_title{
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 2.2rem;
    }
}

// mat form-field padding
mat-form-field{
    &.pb-0{
        & .mat-form-field-wrapper{
            padding-bottom: 0px;
        }
    }
}

.right_sidePannel{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    height: 100%;
    z-index: 3;
    box-shadow: -2px 0px 12px rgba(#000, 0.2);
    &.active{
        right: 0px;
    }
    & .right_headerBox{
        & h4{
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
        }
    }
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.1);
    z-index: 2;
    &.active{
        display: block;
    }
}