
// $md-frontexpo-blue: (
//     50 : #e8eaf6,
//     100 : #c5cbe9,
//     200 : #9fa8da,
//     300 : #7985cb,
//     400 : #5c6bc0,
//     500 : #3f51b5,
//     600 : #394aae,
//     700 : #3140a5,
//     800 : #29379d,
//     900 : #1b278d,
//     A100 : #c6cbff,
//     A200 : #939dff,
//     A400 : #606eff,
//     A700 : #4757ff,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #ffffff,
//         A700 : #ffffff,
//     )
// );


$md-frontexpo-blue: (
    50 : #e6e7f1,
    100 : #c0c2dd,
    200 : #979ac7,
    300 : #6d72b0,
    400 : #4d539f,
    500 : #2e358e,
    600 : #293086,
    700 : #23287b,
    800 : #1d2271,
    900 : #12165f,
    A100 : #969bff,
    A200 : #636aff,
    A400 : #3039ff,
    A700 : #1721ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-frontexpo-orange: (
    50 : #fef5e4,
    100 : #fee7ba,
    200 : #fdd78d,
    300 : #fcc65f,
    400 : #fbba3c,
    500 : #faae1a,
    600 : #f9a717,
    700 : #f99d13,
    800 : #f8940f,
    900 : #f68408,
    A100 : #ffffff,
    A200 : #f68408,
    A400 : #ffdab8,
    A700 : #ffcd9f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-frontexpo-red: (
    50 : #f7e4e5,
    100 : #ebbdbe,
    200 : #de9193,
    300 : #d16468,
    400 : #c74347,
    500 : #bd2227,
    600 : #b71e23,
    700 : #ae191d,
    800 : #a61417,
    900 : #980c0e,
    A100 : #ffc7c7,
    A200 : #ff9495,
    A400 : #ff6162,
    A700 : #ff4749,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

