$color-primary: #2e358e;
$color-accent: #faae1a;
$color-warning:#bd2227;
.sidebar_wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 0px;
    & ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            margin: 0;
            padding: 0;
            -webkit-transition: .2s ease-in-out;
            -moz-transition: .2s ease-in-out;
            -ms-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            border-left: 4px solid transparent;
            & a {
                display: flex;
                align-items: center;
                cursor: pointer;
                line-height: 1;
                padding: 14px 30px;
                width: 100%;
                font-size: 1.4rem;
                text-decoration: none;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                color: rgba($color-primary, 0.6);
                color: --primary-color;
                font-weight: 400;
                white-space: nowrap;
                -webkit-transition: .2s ease-in-out;
                -moz-transition: .2s ease-in-out;
                -ms-transition: .2s ease-in-out;
                transition: .2s ease-in-out;
            }

            &.active {
                border-left-color: $color-primary;
                background-color: rgba($color-primary, 0.1);
                & a {
                    color: $color-primary;
                    font-weight: 500;
                }

                @media (max-width:768px) {
                    border-right: none;
                }
            }
            &.have_submenu{
                & > a{
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    padding: 15px 30px;
                    padding-right: 15px;

                }
                & .submenu-Wrapper{
                    display: none;
                    & li{
                        // border:none;
                        & a{
                            margin-right: 10px;
                            padding: 15px 30px;
                        }
                    }
                }
                &.subOpen{
                    border-left: none;
                    background-color: rgba($color-primary, 0.1);

                    
                    & .submenu-Wrapper{
                        display: block;
                    }
                }
            }
        }
    }
}

::ng-deep{
    mat-sidenav-container{
        &.menu-close {
            mat-sidenav{
                & .sidebar_wrapper{
                    & ul {
                        & li {
                            & a {
                                padding: 14px 17px !important;
                                & > span{
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
