<div class="sidebar_wrapper scroll_style">
    <div class="profile_wrapper"></div>
    <ul>
        <li routerLinkActive="active">

            <a href="javascript:;" routerLink="/admin/dashboard" matRipple [matRippleUnbounded]="false"> <mat-icon>storage</mat-icon> <span class="d-inline-block ml-3">Dashboard</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/order" matRipple [matRippleUnbounded]="false" >
                <mat-icon>fact_check</mat-icon> <span class="d-inline-block ml-3">Orders</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/products"  matRipple [matRippleUnbounded]="false" >
                <mat-icon>add_box</mat-icon> <span class="d-inline-block ml-3">Products</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" matRipple [matRippleUnbounded]="false" >
                <mat-icon>view_module</mat-icon> <span class="d-inline-block ml-3">Tables</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" matRipple [matRippleUnbounded]="false">
                <mat-icon>pie_chart</mat-icon> <span class="d-inline-block ml-3"> Reports</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" matRipple [matRippleUnbounded]="false">
                <mat-icon>person</mat-icon> <span class="d-inline-block ml-3">Users</span>
            </a>
        </li>
        <li  routerLinkActive="subOpen" class="have_submenu" [class.subOpen]="settingOpen">
            <a href="javascript:;" (click)="settingOpen = !settingOpen" matRipple [matRippleUnbounded]="false">
                <mat-icon>settings</mat-icon> <span class="d-inline-block ml-3">Setting </span>
                <mat-icon class="ml-auto">keyboard_arrow_down</mat-icon></a>
            <ul  routerLinkActive="active" class="list-unlisted submenu-Wrapper">
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/settings/categories" matRipple>Categories</a>
                </li>
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/settings/branches" matRipple>Branches</a>
                </li>
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/settings/order-type" matRipple>Order Types</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" matRipple [matRippleUnbounded]="false">
                <mat-icon>power_settings_new</mat-icon> <span class="d-inline-block ml-3">Sign Out</span>
            </a>
        </li>
    </ul>
</div>