<div class="sidebar_wrapper scroll_style">
    <div class="profile_wrapper"></div>
    <ul>
        <li routerLinkActive="active">

            <a href="javascript:;" routerLink="/admin/dashboard" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/DASHBOARD.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Dashboard</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/order" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/list.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Orders</span>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf=" this._serv.getPermission('products', 'read')">
            <a href="javascript:;" routerLink="/admin/products" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/add_squar_fill.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Products</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/tables" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/TABLE.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Tables</span>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf=" this._serv.getPermission('order-report', 'full')">
            <a href="javascript:;" routerLink="/admin/reports" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/PIECHART.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3"> Reports</span>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf=" this._serv.getPermission('users', 'read')">
            <a href="javascript:;" routerLink="/admin/user" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/USER.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Users</span>
            </a>
        </li>
        <li routerLinkActive="subOpen" class="have_submenu" *ngIf=" this._serv.getPermission('setting-menu', 'read')">
            <a href="javascript:;" routerLink="/admin/settings" (click)="openSubmenu()" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/SETTINGS.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Setting </span>
                <img src="assets/images/icons/ARROWDOWN.svg" alt="" class="icon_img ml-auto right_arrow">
                <!-- <mat-icon class="ml-auto right_arrow">keyboard_arrow_down</mat-icon> -->
            </a>
            <ul routerLinkActive="active" class="list-unlisted submenu-Wrapper">
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('company', 'read')">
                    <a href="javascript:;" routerLink="/admin/settings/company" matRipple>
                        Company
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('branch', 'read')">
                    <a href="javascript:;" routerLink="/admin/settings/branches" matRipple>
                        Branches
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('category-master', 'read')">
                    <a href="javascript:;" routerLink="/admin/settings/categories" matRipple>
                        Categories
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('table-master', 'read')">
                    <a href="javascript:;" routerLink="/admin/settings/table-manager" matRipple>
                        Table Manager
                    </a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="subOpen" class="have_submenu" *ngIf=" this._serv.getPermission('accounting-menu', 'full')">
            <a href="javascript:;" routerLink="/admin/account-management" (click)="openSubmenu()" matRipple [matRippleUnbounded]="false">
                <img src="assets/images/icons/BARGRAPH.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Accounts </span>
                <img src="assets/images/icons/ARROWDOWN.svg" alt="" class="icon_img ml-auto right_arrow">
                <!-- <mat-icon class="ml-auto right_arrow">keyboard_arrow_down</mat-icon> -->
            </a>
            <ul routerLinkActive="active" class="list-unlisted submenu-Wrapper">
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/account-management/dashboard" matRipple>
                        Dashboard
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('accounting-transaction', 'full')">
                    <a href="javascript:;" routerLink="/admin/account-management/new-transaction" matRipple>
                        New Transaction
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('accounting-transaction', 'full')">
                    <a href="javascript:;" routerLink="/admin/account-management/transaction-history" matRipple>
                        Transaction History
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('accounting-transaction', 'full')">
                    <a href="javascript:;" routerLink="/admin/account-management/reports" matRipple>
                        Reports
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf=" this._serv.getPermission('accounting-masters', 'full')">
                    <a href="javascript:;" routerLink="/admin/account-management/masters" matRipple>
                        Masters
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/account-management" matRipple [matRippleUnbounded]="false">
                <mat-icon>addchart</mat-icon> <span class="d-inline-block ml-3">Account Management </span>
            </a>
        </li> -->
        <!-- <li routerLinkActive="subOpen" class="have_submenu">
            <a href="javascript:;"  routerLink="/admin/account" (click)="openAccountMenu()" matRipple [matRippleUnbounded]="false">
                <mat-icon>addchart</mat-icon> <span class="d-inline-block ml-3">Account </span>
                <mat-icon class="ml-auto right_arrow">keyboard_arrow_down</mat-icon>
            </a>
            <ul routerLinkActive="active" class="list-unlisted submenu-Wrapper">
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/account/dashboard" matRipple>
                        Dashbord
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/account/transaction" matRipple>
                        Transactions
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/account/reports" matRipple>
                        Reports
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a href="javascript:;" routerLink="/admin/account/master" matRipple>
                        Masters
                    </a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="javascript:;" matRipple [matRippleUnbounded]="false" (click)="signOut()">
                <img src="assets/images/icons/LOGOUT.svg" alt="" class="icon_img"> <span class="d-inline-block ml-3">Sign Out</span>
            </a>
        </li>
    </ul>
</div>