@import "./../../../../variables.scss";
.date_change_wrapper {
    .mat-button-toggle-standalone, .mat-button-toggle-group {
        box-shadow: 0px 1px 4px #dedfef;

        .mat-button-toggle {
            color: #000;

            & .date_seperator {
                font-size: 12px;
                padding: 0px 15px;
                color:#a9a5a5;
            }
            &.mat-button-toggle-checked {
                background-color: inherit;
                color: inherit;
            }

        }
    }
}

.account_table {
    tr {

        & td {
            white-space: nowrap;
        }
        .title_row {
            min-width: 200px;
        }
        .date_row {
            width: 50px;
            font-size: 12px;
            text-align: center;

            
            &.not_added {
                background-color: rgba($color-warning, 0.15);
            }

            .present {
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 50%;
                background-color: $color-success;
                box-shadow: 0px 0px 0px 6px rgba($color-success, 0.25);
            }

            .absent {
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 50%;
                background-color: $color-warning;
                box-shadow: 0px 0px 0px 6px rgba($color-warning, 0.25);
            }
        }
    }
}
